//color
$backgroundColor : #bac6d3;
$warningColor: #bbc5db;
$dangerColor: #b4c6b9;
$infoColor : #4c4e5a;
$roseColor :#52f850;


$grayColor : #f46b48;
$setting_panel: #2f3339;
$setting_primary_bg: #363a41;
$fieldBorder : #4f535a;
$swatch_3: #e12210;
$swatch_4: #afafaf;
$text_color: #fbfbfb;
$swatch_6: #a01d13;
$swatch_7: #5d0f09;
$swatch_8: #389e44;
$second_text_color : #0f1017;