@import "./variables";

.bg_image{
  width:100%;
  height:100%;
}


.root_panel{
  display: 'flex';
  .panel{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 13%;
    margin-bottom: 20%;
    height: auto;
  }
}

.txt{
  text-align: center;
  padding-top: 15%;
  .h1 {
    font-size: 25px;
    font-family: "Arial";
    font-weight: 700
  }
  .h2{
    color: darkgray;
  }
}
.form{
  padding-top: 5%;
  .terms{
    padding-top: 5%;
    align-content: center;
    display: flex;
  }
  .submit{
    padding-top: 10%;
    padding-bottom: 20%;
    .submit_btn{
      width: 100%;
      border-radius: 10px;
      background: linear-gradient(45deg, $grayColor 30%, #Fdd032 90%);
      border: 0;
      color: white;
      height: 48px;
      padding: 0 30px;
      box-shadow:0 3px 5px 2px rgba(255, 105, 135, .3);
    }
  }
}

.social_icons{
  padding-top: 2%;
  padding-bottom: 10%;
  display: flex;
  &>*{
    padding: 5px;
  }
}
